.fade-enter {
  opacity: 0;
  transform: translateY(-20%);
}
.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 600ms, transform 600ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transform: translateY(-20%);
  transition: opacity 600ms, transform 600ms;
}