* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: HelveticaNeue;
  src: url(https://res.cloudinary.com/seijihg/raw/upload/v1567937360/lady_bug_air/fonts/helveticaneue/HelveticaNeueMed_grmzjq.ttf);
}
@font-face {
  font-family: MyriadPro Regular;
  src: url(https://res.cloudinary.com/seijihg/raw/upload/v1571240923/fonts/myriad-pro-cufonfonts-webfont/MYRIADPRO-REGULAR_neixci.woff);
}
$color_bg: #d2e1ff;
$color_yellow: linear-gradient(#ffc500, #f7b507);
$color_gray: #dedede;
$color_blue: linear-gradient(#404bb6, #5756c4);
$shadow: rgba(0, 0, 0, 0.4);
$font_stack1: Arial, Helvetica, sans-serif;
$color_grad_gray: linear-gradient(white, rgb(175, 175, 175));


body {
  background: $color_bg;
  font-family: $font_stack1;
  font-size: 10.5pt;
  line-height: 1.5;
}

.form_container {
  margin: auto;
  margin-top: 10%;
  width: 695px;
  background: white;
  border-radius: 10px;
}

.form_container .form_co_internal {
  padding: .3rem;
}

.form_container .yourdetails {
  width: 100%;
  height: 57px;
  line-height: 57px;
  background: $color_yellow;
  border-radius: 10px;
  color: white;
  padding-left: .75rem;
  text-shadow: 1px 1px black;
}

.step {
  border-radius: 10px;
  background: $color_gray;
}
.step:nth-child(2) {
  margin: 5px 0px;
}
.align {
  display: flex;
}
label {
  font-family: HelveticaNeue;
}
.item:nth-child(2) {
padding-left: .75rem;
}

%shadow_shared {
  -webkit-box-shadow:inset 0 0 5px $shadow;
       -moz-box-shadow:inset 0 0 5px $shadow;
            box-shadow:inset 0 0 5px $shadow;
}

input {
  border: none;
  width: 200px;
  height: 35px;
  border-radius: 10px;
  @extend %shadow_shared;
  text-indent: .75rem;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.gray_area {
  padding: 0 .75rem;
  padding-top: .75rem;
  padding-bottom: .3rem;
}
.btn {
  display: flex;
  justify-content: flex-end;
  margin-top: .75rem;
}
.btn_next {
  text-align: center;
  width: 200px;
  background: $color_blue;
  width: 127px;
  height: 31px;
  line-height: 31px;
  color: white;
  text-shadow: 1px 1px black;
  font-family: MyriadPro Regular;
  border-radius: 10px;
  margin-bottom: .5rem;
  cursor: pointer;
}
#gender {
  border: none;
  width: 150px;
  background: $color_grad_gray;
  height: 35px;
  @extend %shadow_shared;
  color: gray;
  border-radius: 10px;
  font-family: HelveticaNeue;
  font-size: .9rem;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-indent: .75rem;
}

#dob {
  width: 45px;
  margin-right: .3rem;
}

#comments {
  width: 388px;
  height: 145px;
  border: none;
  border-radius: 10px;
  -webkit-box-shadow:inset 0 0 10px $shadow;
       -moz-box-shadow:inset 0 0 10px $shadow;
            box-shadow:inset 0 0 10px $shadow;
}
.comment_section {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
textarea {
  padding: .75rem;
}